@model WebApplication2.Entities.State
<div>
    <dl>
        <dd>Id</dd>
        <dt>@Model.Id</dt>
        <dd>Name</dd>
        <dt>@Model.Name</dt>
        <dd>Population</dd>
        <dt>@Model.Population</dt>
        <dd>IGR</dd>
        <dt>@Model.StateIGR</dt>
        <dd>Region</dd>
        <dt>@Model.RegionId</dt>
    </dl>
</div>