@model IEnumerable<WebApplication2.Entities.Region>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>IGR</th>
            <th>Details</th>
            <th>Edit Region</th>
            <th>Delete Region</th>
            <th>Get State</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <th>@region.Id</th>
                <th>@region.Name</th>
                <th>@region.IGR</th>
                <th> <a asp-action="GetRegionDetails" asp-route-Id="@region.Id" class="btn btn-primary">View</a> </th>
                <th><a asp-action="Update" asp-route-id="@region.Id" class="btn btn-primary">Update</a></th>
                <th><a asp-action="DeleteRegion" asp-route-id="@region.Id" class="btn btn-primary">Delete</a></th>
                <th> <a asp-action="GetRegionByState" asp-route-Id="@region.Id" class="btn btn-primary" >Get State</a> </th>
            </tr>
        }
        </tbody>

    </table>
</div>
<div>
    <a asp-controller="Region" asp-action="Create" class="btn btn-dark">Add Region</a>
</div>